<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogProject</title>
    <link rel="icon" href="~/src/Icone.svg"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogProject.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-white">
    <header>
        <nav class="container navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
            <div class="container-fluid justify-content-between flex-row">

                <a class="col-lg-2 col-md-2 navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/src/Icone.svg" alt="Блог" />BlogProject</a>
                <div class="col-lg-offset-5 col-lg-5 col-md-offset-8 col-md-2 d-md-inline-flex justify-content-menu">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1 menu-md">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Ваш блог</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Комментарии</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1 justify-content-end menu-md">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Выход</a>
                            </li>
                        </ul>
                        <button class="menu-sm justify-content-end" action="">&#9776</button>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light text-center">
        <div class="container">
            &copy; 2022 - BlogProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
