@using BlogProject.ViewModels.Request
@model AddPostViewModel


<h1 class="text-white text-center">Создание публикации</h1>
<div class="row justify-content-center">
    <form class="col-lg-8 m-3 d-flex flex-column justify-content-center" method="post" asp-area="Post" asp-controller="AddPost" asp-action="Main">
        <p class="w-100"><input class="input form-control-plaintext w-75" asp-for="Title" /></p>
        <span asp-validation-for="Title" class="text-danger"></span>
        <p class="w-100"><textarea class="input form-control-plaintext w-75" asp-for="Content"></textarea></p>
        <span asp-validation-for="Content" class="text-danger"></span>
        <p class="w-75 m-auto d-flex align-items-center">Теги:   <span id="tags"></span><span class="fs-2 btnAddPost">+</span></p>
        <button class="col-lg-4 button h-50 m-auto">Опубликовать</button>
    </form>
</div>

<div>
    @{
        var tag = new AddTagViewModel();
        <partial model="tag" name="~/Views/Tag/AddTag.cshtml" />
    }
</div>
