@using BlogProject.ViewModels.Response
@model ErrorViewModel

@{
    ViewData["Title"] = "Ошибка";
    string error;
}
@if (Model == null)
{
    error = "Что-то пошло не так.";
}
else
{
    error = Model.ErrorMessage;
}

<h1 class="text-white text-center">@error</h1>